{% extends 'base.html.twig' %}
{% block body %}
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Employer</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Gestion Employer</a>
					</li>
					<li class="breadcrumb-item active">Affichage</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Liste des employers</h5>


							<!-- Table with stripped rows -->
							<table class="table datatable">
								<thead>
									<tr>

										<th>CIN</th>
										<th>Nom et prénom</th>
										<th>Poste</th>
										<th>Contacte</th>
										<th>Date d'embauche</th>
										<th>Fiche</th>
										<th>Compte</th>


									</tr>
								</thead>
								<tbody>

									{% for employer in employers %}

										<tr>
											<td>{{ employer.cin }}
											</td>
											<td>{{ employer.nom }}
												{{ employer.prenom }}</td>
											<td>{{ employer.poste }}
											</td>
											<td>
												<div>
													<div class="project-title">
														<span>{{ employer.email }}</span>
														<br/>
														<span>{{ employer.Tel }}
														</span>
													</td>


													
													<td>{{ employer.hiredate|date('d/m/Y') }}</td>
													<td>
															
															<a href="{{ path('utilisateurDetails', {'id': employer.idemployer}) }}">
																Detail
															</a>

														</td>


													<td class="text-center">
														{% if employerAccounts[employer.idemployer] %}
															 <a href="#" class="d-flex justify-content-center">
                                                    <img src="/template/assets/img/trouve.png" alt="decouvrir" style="width: 20px; height: 20px;">
                                                </a>
														{% else %}
															 <a href="{{ path('app_utilisateur_new', {'id': employer.idemployer}) }}" class="d-flex justify-content-center">
                                                    <img src="/template/assets/img/add.png" alt="add" style="width: 20px; height: 20px;">
                                                </a>
														{% endif %}
													</td>
													
 

												</tr>
											{% endfor %}
										</tr>
									</tbody>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->
						</tbody>
					</div>
				</div>

			</div>
		</div>
	</section>

</main>
<!-- End #main -->{% endblock %}
